body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  flex-flow:nowrap;
  justify-content: center;
}

.flex-container .flex-item {
  width: 100%;
  flex-wrap: wrap;
  height: 130px;
  border: 2px solid white;
  background: rgb(223, 182, 47);
  font-size: 25px;
  font-family: sans-serif;
  color:white;
  text-align:center; 
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;

}